<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register to Rangiffler</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" th:href="@{images/favicon.ico}"/>
    <link href="../static/styles/styles.css" rel="stylesheet" th:href="@{styles/styles.css}"
          type="text/css"/>
</head>
<body>
<main class="content">
    <div class="content__wrapper">
        <div class="main__hero"></div>
        <section class="main__form">
            <h1 class="header">
                <span class="header__accent">R</span>angiffler
            </h1>
            <img alt="Rangiffler logo" class="header__logo" src="./../static/images/deer-logo.svg" th:src="@{images/deer-logo.svg}"
                 width="90"/>
            <form action="/register" class="form" id="register-form" method="post"
                  th:action="@{/register}" th:if="${username == null}"
                  th:object="${registrationModel}">
                <label class="form__label">Username:
                    <input class="form__input" id="username" name="username" placeholder="Type your username" required
                           th:field="*{username}" type="text"/>
                    <span class="form__error" th:errors="*{username}"
                          th:if="${#fields.hasErrors('username')}"></span>
                </label>
                <label class="form__label">Password:
                    <input class="form__input" id="password" name="password" placeholder="Type your password"
                           required th:field="*{password}" type="password"/>
                    <button class="form__password-button" id="passwordBtn" type="button"></button>
                    <span class="form__error" th:errors="*{password}"
                          th:if="${#fields.hasErrors('password')}"></span>
                </label>
                <label class="form__label">Submit Password:
                    <input class="form__input" id="passwordSubmit" name="passwordSubmit" placeholder="Submit your password"
                           required th:field="*{passwordSubmit}" type="password"/>
                    <button class="form__password-button" id="passwordSubmitBtn" type="button"></button>
                    <span class="form__error" th:errors="*{passwordSubmit}"
                          th:if="${#fields.hasErrors('passwordSubmit')}"></span>
                </label>
                <button class="form__submit" type="submit">
                    Sign Up
                </button>
                <p class="form__paragraph">Already have an account? <a class="form__link" th:href="@{|${frontUri}|}">Sign
                    in!</a>
                </p>
            </form>
            <div class="form" th:unless="${username == null}">
                <p class="form__paragraph form__paragraph_success">Congratulations! You've registered!</p>
                <p class="form__paragraph">
                    <a class="form_sign-in" th:href="@{|${frontUri}|}">Sign in!</a>
                </p>
            </div>
        </section>
    </div>
</main>
<script>
    const passwordButton = document.getElementById("passwordBtn");
    const passwordInput = document.getElementById("password");

    const passwordSubmitButton = document.getElementById("passwordSubmitBtn");
    const passwordSubmitInput = document.getElementById("passwordSubmit");

    const togglePasswordInputType = (inputType) => {
        return inputType === "password" ? "text" : "password";
    }

    const togglePasswordButtonClass = (passwordBtn) => {
        passwordBtn.classList.toggle("form__password-button_active");
    }

    const handlePasswordButtonClick = () => {
        passwordInput.setAttribute("type", togglePasswordInputType(passwordInput.getAttribute("type")));
        togglePasswordButtonClass(passwordButton);
    }

    const handleSubmitPasswordButtonClick = () => {
        passwordSubmitInput.setAttribute("type", togglePasswordInputType(passwordSubmitInput.getAttribute("type")));
        togglePasswordButtonClass(passwordSubmitButton);
    }

    passwordButton.addEventListener("click", handlePasswordButtonClick);
    passwordSubmitButton.addEventListener("click", handleSubmitPasswordButtonClick);

</script>
</body>
</html>
